@model PiperPicker.Models.SettingsModel

<div class="group-container">

    @foreach (var lightSetting in Model.LightSettings)
    {
        <div class="controls-container">
            <span class="settings-hostname">@lightSetting.Hostname</span>
            <form class="settings-hostname-action-container" method="post" data-ajax="true" data-ajax-url="api/settings/lightcontroller-remove" data-ajax-update="#panel" data-ajax-method="post">
                <input hidden type="text" name="hostname" value="@lightSetting.Hostname" />
                <input type="submit" value="Remove" />
            </form>
            <div class="group-container">
                @foreach (var scheduleItem in lightSetting.State.Schedule)
                {
                    <div class="controls-container">
                        <p>@($"{scheduleItem.hour:D2}:{scheduleItem.minute:D2} r:{scheduleItem.r} g:{scheduleItem.g} b:{scheduleItem.b} / #{scheduleItem.r:X2}{scheduleItem.g:X2}{scheduleItem.b:X2} ")</p>
                        <form class="settings-schedule-action-container" method="post" data-ajax="true" data-ajax-url="api/lighting/scheduleitem-remove" data-ajax-update="#panel" data-ajax-method="post">
                            <input hidden type="text" name="hostname" value="@lightSetting.Hostname" />
                            <input hidden type="text" name="hour" value="@scheduleItem.hour" />
                            <input hidden type="text" name="minute" value="@scheduleItem.minute" />
                            <input type="submit" value="Delete" />
                        </form>
                    </div>
                }
                <form method="post" data-ajax="true" data-ajax-url="api/lighting/scheduleitem-add" data-ajax-update="#panel" data-ajax-method="post">
                    <input hidden type="text" name="hostname" value="@lightSetting.Hostname" />
                    <label for="@lightSetting.Hostname-hour">Hour</label>
                    <input class="number-input" id="@lightSetting.Hostname-hour" type="text" name="hour" value="0" />
                    <label for="@lightSetting.Hostname-minute">Minute</label>
                    <input class="number-input" id="@lightSetting.Hostname-minute"type="text" name="minute" value="0" />
                    <input type="text" name="wrgb" value="#000000" />
                    <input type="submit" value="Add" />
                </form>
            </div>
        </div>
        <br>
    }

</div>

<form class="settings-hostname" method="post" data-ajax="true" data-ajax-url="api/settings/lightcontroller-add" data-ajax-update="#panel" data-ajax-method="post">
    Hostname: <input type="text" name="hostname" />
    <input type="submit" value="Add" />
</form>