@model PiperPicker.Models.LightModel

<script>

    var lighting_colorPicker = new iro.ColorPicker("#color-picker-container-@Model.Hostname", {
        width: 180,
        color: "@Model.StaticColourHexCode",
        wheelLightness: false
    });

    function lighting_mode(hostname, mode) {
        $.ajax({
            type: "POST",
            url: "api/lighting/mode",
            data: JSON.stringify({ hostname: hostname, mode: mode }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
            //,success: (toggleResult) => { displayStateCallback && displayStateCallback(toggleResult.state); }
        });
    }

    function lighting_onColorChange(color, changes) {
        $.ajax({
            type: "POST",
            url: "api/lighting/colour",
            data: JSON.stringify({ hostname: '@Model.Hostname', red: color.rgb.r, green: color.rgb.g, blue: color.rgb.b, white: 0 }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
            //,success: (toggleResult) => { displayStateCallback && displayStateCallback(toggleResult.state); }
        });
    }

    lighting_colorPicker.on("input:end", lighting_onColorChange);

</script>

@if (!string.IsNullOrEmpty(Model.Error))
{
<p>@Model.Hostname: @Model.Error</p>
}
else
{
<div class="group-container">
    <p>
        @Model.Hostname
    </p>

    <div class="controls-container">
        <div class="icon light-off @(Model.Mode == "off" ? "active" : "")"
             onclick="lighting_mode('@Model.Hostname', 'off')">
        </div>
        <div class="icon light-on @(Model.Mode == "on" ? "active" : "")"
             onclick="lighting_mode('@Model.Hostname', 'on')">
        </div>
        <div class="icon light-random @(Model.Mode == "random" ? "active" : "")"
             onclick="lighting_mode('@Model.Hostname', 'random')">
        </div>
        <div class="icon light-schedule @(Model.Mode == "schedule" ? "active" : "")"
             onclick="lighting_mode('@Model.Hostname', 'schedule')">
        </div>
    </div>

    @if (Model.Mode == "on")
    {
    <div id="color-picker-container-@Model.Hostname"></div>
    }
</div>
}