@page
@model RadMacModel
@{
    ViewData["Title"] = "Home page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
@section Styles {
    <link href="@Url.Content("~/css/radmac.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div>
        <div class="title-container">
            <h3>Radcliffe & Maconie</h3>
        </div>
        <ul class="episode-list">
            @foreach(var item in @Model.Episodes) {
                <div class="episode-item-container">
                    <img class="icon episode-play" src="/images/play.svg" onclick="play('@item.Uri')"/>
                    <li class="episode-item" onclick="play('@item.Uri')">@item.Name</li>
                </div>
            }
        </ul>
    </div>
</div>

<script>
    function play(url) {
        console.log('play ' + url)

        $.ajax({
                type: "POST",
                url: "api/mopidy/playepisode",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                data: JSON.stringify({uri: url}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                alert('ok')
            }

            function errorFunc(data) {
                console.log(data)
                alert('error');
            }
    }
</script>
