@page
@model RadMacModel
@{
    ViewData["Title"] = "piperpicker";
}
@section Styles {
    <link href="@Url.Content("~/css/radmac.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script>
        $("#nowPlaying").load("Control/?handler=NowPlayingView");
    </script>
}

<div class="row">
    <div id="nowPlaying"></div>
    <div>
        <ul class="episode-list">
            @foreach(var item in @Model.Episodes) {
                <div class="episode-item-container">
                    <img class="icon episode-play" src="/images/play.svg" onclick="mopidyPlayUri('@item.Uri')"/>
                    <li class="episode-item" onclick="play('@item.Uri')">@item.Name</li>
                </div>
            }
        </ul>
    </div>
</div>
