@model IEnumerable<PiperPicker.Proxies.SnapProxy.SnapClient>

<div id="snapclients-container">
    @foreach(var snapclient in @Model) {
        <div class="snapclient-container">
            <p class="snapclient-info-item snapclient-hostname">@snapclient.Host</p>
            <p class="snapclient-info-item snapclient-volume">@(snapclient.Volume)%</p>
            <div
                class="snapclient-info-item icon episode-play @(snapclient.Muted ? "mute-on" : "mute-off")"
                onclick="setSnapClientMuted(this, '@snapclient.Mac', @(Json.Serialize(!snapclient.Muted)))">
            </div>
        </div>
    }
</div>