@model IEnumerable<PiperPicker.Proxies.SnapProxy.SnapClient>

<div id="snapclients-container">
    @foreach(var snapclient in @Model) {
        <div class="snapclient-container">
            <p>@snapclient.Host @(snapclient.Muted ? ": mute" : $"@ {snapclient.Volume}%")</p>
            <div
                class="icon episode-play @(snapclient.Muted ? "mute-on" : "mute-off")"
                onclick="setSnapClientMuted(this, '@snapclient.Mac', @(Json.Serialize(!snapclient.Muted)))">
            </div>
        </div>
    }
</div>